<h2>Добавить клиента</h2>

<%= form_with(model: @client, local: true) do |f| %>
  <p>
    <%= f.label :first_name, "Имя" %>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :middle_name, "Фамилия" %>
    <%= f.text_field :middle_name %>
  </p>

  <p>
    <%= f.label :last_name, "Отчество" %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :inn, "ИНН" %>
    <%= f.text_field :inn %>
  </p>

  <p>
    <%= f.label :kpp, "КПП" %>
    <%= f.text_field :kpp %>
  </p>

  <p>
    <%= f.label :customer, "Заказчик" %>
    <%= f.text_field :customer %>
  </p>

  <p>
    <%= f.label :address, "Адрес" %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :phone, "Телефон" %>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.label :email, "Почта" %>
    <%= f.text_field :email %>
  </p>

  <%= f.hidden_field :type, value: "Client" %>

  <p>
    <%= f.submit "Добавить клиента" %>
  </p>
<% end %>
