<%= form_with(model: @template, url: settings_templates_path, local: true) do |form| %>
  <div>
    <%= form.label :file, "Выберите файл" %>
    <%= form.file_field :file %>
  </div>

  <p>
    <%= form.label :metadata, "YAML-файл" %>
    <%= form.file_field :metadata %>
  </p>

  <div>
    <%= form.label :title, "Название шаблона" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit "Загрузить" %>
  </div>
<% end %>