<h1>Настройки шаблонов</h1>

<%= link_to 'Загрузить шаблон', new_settings_template_path, class: 'upload-button' %>

<div class="template-container">
  <% @templates.each do |template| %>
    <div class="template-item">
      <% if template.file.attached? %>
        <% filename = template.file.filename.to_s %>
        <% if filename.end_with?(".docx") %>
          <%= image_tag "docx-icon.png", alt: "DOCX" %>
        <% elsif filename.end_with?(".doc") %>
          <%= image_tag "doc-icon.png", alt: "DOC" %>
        <% else %>
          <%= image_tag "default-icon.png", alt: "Другой файл" %>
        <% end %>

        <p><%= template.title %></p>

        <div class="buttons-container">
          <%= link_to 'Скачать docx', rails_blob_path(template.file, disposition: "attachment"), class: "download-link" %>
          <%= link_to 'Скачать yml', rails_blob_path(template.metadata, disposition: "attachment"), class: "download-link" %>
          <%= link_to 'Редактировать', edit_settings_template_path(template), class: "edit-link" %>
          <%= link_to "Удалить", settings_template_path(template), data: { turbo_method: :delete, turbo_confirm: "Вы уверены?" }, class: "delete-link" %>
        </div>

      <% else %>
        <p>Файл не загружен</p>
      <% end %>
    </div>
  <% end %>
</div>
