<h2>Создание актов для клиента <%= @client.fio %></h2>

<%= form_with model: @act, url: client_acts_path(@client) do |f| %>
  <div>
    <%= f.label :template_id, "Выберите шаблон" %>
    <%= f.collection_select :template_id, @templates, :id, :title, prompt: "Выберите шаблон" %>
  </div>

  <ul id="acceptance-files-list">
    <% @acceptance_files.each do |file| %>
      <%= render partial: "clients/acceptance_file", locals: { acceptance_file: file } %>
    <% end %>
  </ul>

  </br>

  <%= f.submit "Создать акт" %>
<% end %>

<%= link_to 'Назад', client_path(@client) %>
